.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
}