/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header figure {
  margin: 0;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: inline-block;
  margin-right: 20px;
}

header nav a {
  text-decoration: none;
  color: #337ab7;
}

header nav a:hover {
  color: #23527c;
}

main {
  display: block;
}

section {
  padding: 20px;
}

#social-media ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#social-media li {
  margin-bottom: 10px;
}

#social-media a {
  text-decoration: none;
  color: #337ab7;
}

#social-media a:hover {
  color: #23527c;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode header {
  background-color: #444;
}

.dark-mode #social-media a {
  color: #66d9ef;
}

.dark-mode #social-media a:hover {
  color: #8ce6ff;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  clear: both;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: #337ab7;
}

footer a:hover {
  color: #23527c;
}

/* Media Queries */

/* Extra Small Devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
  header img {
    width: 50px;
    height: 50px;
  }
  header nav li {
    display: block;
    margin-right: 0;
  }
  footer li {
    display: block;
    margin-right: 0;
  }
}

/* Small Devices (phones, 480px and up) */
@media only screen and (min-width: 480px) {
  header img {
    width: 70px;
    height: 70px;
  }
  header nav li {
    display: inline-block;
    margin-right: 20px;
  }
  footer li {
    display: inline-block;
    margin-right: 20px;
  }
}

/* Medium Devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header img {
    width: 100px;
    height: 100px;
  }
  main {
    width: 80%;
    margin: 0 auto;
  }
}

/* Large Devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  main {
    width: 70%;
    margin: 0 auto;
  }
}

/* Extra Large Devices (large desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
  main {
    width: 60%;
    margin: 0 auto;
  }
}