.container {
    text-align: center;
}

.coin {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.coin.tails {
    transform: rotateX(180deg);
}

.heads, .tails {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.tails {
    transform: rotateX(180deg);
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}