:root {
    --primary-color: #3498db;
    --secondary-color: #f1c40f;
    --background-color: #f9f9f9;
    --text-color: #333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
}

.card-header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 30px;
}

.form-label {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-control {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    padding: 15px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #2980b9;
}

.fs-4 {
    font-size: 1.5rem;
}

.fw-bold {
    font-weight: bold;
}

#ageChart, #lifeMilestonesChart {
    margin-top: 20px;
}

#share-buttons {
    margin-top: 20px;
    text-align: center;
}

.social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #333;
    transition: all 0.3s ease;
}

.social-icon:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.facebook {
    background-color: #3b5998;
    color: #fff;
}

.twitter {
    background-color: #1da1f2;
    color: #fff;
}

.instagram {
    background-color: #e4405f;
    color: #fff;
}

.linkedin {
    background-color: #0077b5;
    color: #fff;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

/* Media Queries */

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        margin: 20px auto;
    }
    .card-body {
        padding: 20px;
    }
    .form-control {
        padding: 10px;
    }
    .btn-primary {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }
    .card-header {
        padding: 15px;
    }
    .card-body {
        padding: 15px;
    }
    .form-label {
        font-size: 14px;
    }
    .form-control {
        padding: 8px;
    }
    .btn-primary {
        padding: 8px;
    }
    .fs-4 {
        font-size: 1.2rem;
    }
}