/* src/styles/SearchBar.css */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 50%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-bar button {
  height: 40px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* src/styles/MovieTrailer.css */
.movie-trailer {
  text-align: center;
  padding: 20px;
}