:root {
  --primary-color: #0f1228;
  --secondary-color: #282d4f;
  --text-color: #e7e9f0;
  --accent-color: #a592f2;
}

body {
  background: var(--primary-color);
  overflow-x: hidden;
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
}

.head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.head-text {
  font-family: 'Hachi Maru Pop', cursive;
  margin: 5px 0 15px 0;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.search-input {
  padding: 18px 25px;
  font-size: 25px;
  width: 350px;
  border-width: 0;
  background: var(--accent-color);
  color: var(--text-color);
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.search-input::placeholder {
  color: var(--text-color);
}

.search-input:focus {
  outline: navy;
}

.results-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.result-name-card {
  color: var(--text-color);
  background: var(--secondary-color);
  margin: 10px 15px;
  min-width: 75px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
  transition: background 0.35s;
  display: flex;
  justify-content: center;
}

.card-link {
  text-decoration: none;
}

.result-name-card:hover {
  background: #4a5079;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.result-name {
  margin: 0;
  font-weight: 100;
}