@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --primary-color: #4caf50;
  --background-color: #f8f8f8;
  --text-color: #333;
  --input-background: #ddd;
  --weak-color: #f44336;
  --medium-color: #ffeb3b;
  --strong-color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}

h1 {
  color: var(--primary-color);
  font-size: 24px;
}

.generator {
  background-color: #f5f5f5;
  width: 100%;
  max-width: 280px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.password {
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 10px;
  overflow: hidden;
}

.password input {
  padding: 10px;
  background-color: var(--input-background);
  border: 0;
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #3e8e41;
}

.password button {
  border-radius: 0;
}

.strength-indicator {
  margin: 10px 0;
  height: 5px;
}

#strength-meter {
  display: block;
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s;
}

#strength-meter.weak {
  background-color: var(--weak-color);
  width: 25%;
}

#strength-meter.medium {
  background-color: var(--medium-color);
  width: 50%;
}

#strength-meter.strong {
  background-color: var(--strong-color);
  width: 100%;
}

.range {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.range span {
  background-color: var(--input-background);
  padding: 10px;
  margin-left: 10px;
  min-width: 40px;
  text-align: center;
  border-radius: 10px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px 0;
}

.options label {
  display: block;
  background-color: var(--input-background);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.generate {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.twofa {
  margin-top: 20px;
}

#qr-canvas {
  margin-top: 10px;
}

/* Media Queries */

@media (min-width: 480px) {
  .generator {
    max-width: 360px;
  }
  h1 {
    font-size: 28px;
  }
}

@media (min-width: 768px) {
  .generator {
    max-width: 400px;
  }
  h1 {
    font-size: 32px;
  }
  .options {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 320px) {
  .generator {
    padding: 10px;
  }
  .options {
    grid-template-columns: 1fr;
  }
  button {
    padding: 8px 10px;
  }
}